<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.instagram.com/vinuyemul" target="_blank">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/vinayak-yemul-ab08422a2/?isSelfProfile=false" target="_blank">
                <i class="fa-brands fa-square-linkedin"></i>
            </a>
            <a href="https://www.facebook.com/vinayakyemul" target="_blank">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>