<% layout("/layouts/boilerplate") %>
<body> <div class="row">
    <div class="col-8 offset-2">
        <br> <br>
    <h3> create new listing </h3>
    <form  method="post" action="/listings" novalidate  class="needs-validation" enctype="multipart/form-data" > 
        <div class="mb-3">  
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Add a catchy Title" type="text" class="form-control" required />
        <div class="valid-feedback"> Title Looks Good! </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label"> Description </label>
            <textarea  name="listing[description]" type="text" class="form-control" required></textarea>
            <div class="invalid-feedback">please enter short Description</div>
        </div> 
        <div class="mb-3">
            <label for="image" class="form-label"> Upload listing Image  </label>
            <input name="listing[image]" type="file" class="form-control" />
        </div> 
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label"> Price   </label>
            <input name="listing[price]" placeholder="1800"  class="form-control" required />
            <div class="invalid-feedback"> enter valid price </div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label"> country  </label>
            <input name="listing[country]" placeholder="india" type="text" class="form-control" required />
            <div class="invalid-feedback"> please enter valid country name </div>
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label"> location </label>
            <input name="listing[location]" placeholder="pune, mumbai" type="text" class="form-control" required />
            <div class="invalid-feedback">please enter valid location </div>
        </div>
        <br>
        <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <select name="listing[category]" class="form-select" required>
        <option value="" disabled selected>Select a category</option>
        <option value="Trending">🔥 Trending</option>
        <option value="Rooms">🛏️ Rooms</option>
        <option value="Iconic Cities">🏙️ Iconic Cities</option>
        <option value="Mountains">⛰️ Mountains</option>
        <option value="Castles">🏰 Castles</option>
        <option value="Amazing Pools">🏊 Amazing Pools</option>
        <option value="Camping">🏕️ Camping</option>
        <option value="Farms">🚜 Farms</option>
        <option value="Arctic">❄️ Arctic</option>
    </select>
    <div class="invalid-feedback">Please select a category</div>
</div>
        <button class="btn btn-dark add-btn"> Add  </button>
        
    </form>
    </div>
    </div>
    <br> <br>
</body>
